<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/style.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- <div class="userForm_outer">
      <form name="userForm" class="userForm">
        <input class="userForm_userName" type="text" name="userForm_name" placeholder="your name">
        <input class="userForm_msg" type="text" name="userForm_msg" placeholder="type a message">
        <button class="userForm_btn" name="userForm" type="submit">send</button>
      </form>
    </div> -->

    <div class="userForm_outer">
      <form name="userForm" class="userForm">
        <input class="userForm_userName" type="text" name="userForm_name" placeholder="your name">
        <input class="userForm_msg" type="text" name="userForm_msg" placeholder="type a message">
        <button class="userForm_btn" name="userForm" type="submit">send</button>
      </form>
    </div>

    <div class="chat">
      <div class="chat_typing"></div>
      <div class="chat_string">
        <span class="chat_name">username</span>
        <span class="chat_msg">msg</span>
      </div>
    </div>
    <script src="/js/browser.js"></script>
  </body>
</html>